@font-face {
    font-family: Cera Pro;
    src: url(../fonts/CeraPro-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cera Pro;
    src: url(../fonts/CeraPro-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

html {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0
}

* {
    -webkit-tap-highlight-color: transparent !important
}

address, body, h1, h2, h3, h4, h5, h6, html, label, p, textarea, ul {
    margin: 0;
    padding: 0
}

address {
    font-style: inherit
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: Cera Pro;
}

ul {
    list-style: none
}

a {
    color: inherit;
    text-decoration: none
}

img {
    display: block;
    width: 100%
}

button, input, select {
    font: inherit
}

.container {
    max-width: 768px;
    width: 100%;
    padding: 0 16px
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff
}

.nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 0
}

.menu, .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.menu {
    padding-right: 6px
}

.menu li:not(:last-child) {
    margin-right: 26px
}

.main {
    padding: 105px 0 0px
}

.market-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 0
}

.market-logo {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #c4c4c4;
    margin-right: 16px
}

.market-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center
}

.market-name {
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #191923;
    margin-bottom: 2px
}

.market-client {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.market-client, .market-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.market-price .market-back {
    margin-right: 10px
}

.market-sum span {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #191923
}

.market-pin {
    display: none
}

.add-pin {
    display: block
}

@-webkit-keyframes bg-anime {
    0% {
        background: -webkit-linear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 96.72%);
        background: linear-gradient(270.19deg, #191923 .17%, rgba(25, 25, 35, .54) 96.72%);
        opacity: .1
    }

    to {
        background: -webkit-linear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 56.72%);
        background: linear-gradient(270.19deg, #191923 .17%, rgba(25, 25, 35, .54) 56.72%);
        opacity: .2
    }
}

@-moz-keyframes bg-anime {
    0% {
        background: -moz- oldlinear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 96.72%);
        background: linear-gradient(270.19deg, #191923 .17%, rgba(25, 25, 35, .54) 96.72%);
        opacity: .1
    }

    to {
        background: -moz- oldlinear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 56.72%);
        background: linear-gradient(270.19deg, #191923 .17%, rgba(25, 25, 35, .54) 56.72%);
        opacity: .2
    }
}

@-o-keyframes bg-anime {
    0% {
        background: -o-linear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 96.72%);
        background: linear-gradient(270.19deg, #191923 .17%, rgba(25, 25, 35, .54) 96.72%);
        opacity: .1
    }

    to {
        background: -o-linear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 56.72%);
        background: linear-gradient(270.19deg, #191923 .17%, rgba(25, 25, 35, .54) 56.72%);
        opacity: .2
    }
}

@keyframes bg-anime {
    0% {
        background: -webkit-linear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 96.72%);
        background: -moz- oldlinear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 96.72%);
        background: -o-linear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 96.72%);
        background: linear-gradient(270.19deg, #191923 .17%, rgba(25, 25, 35, .54) 96.72%);
        opacity: .1
    }

    to {
        background: -webkit-linear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 56.72%);
        background: -moz- oldlinear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 56.72%);
        background: -o-linear-gradient(179.81deg, #191923 .17%, rgba(25, 25, 35, .54) 56.72%);
        background: linear-gradient(270.19deg, #191923 .17%, rgba(25, 25, 35, .54) 56.72%);
        opacity: .2
    }
}

.empty-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 0
}

.empty-logo {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #d3d3d3;
    margin-right: 16px;
    opacity: .1;
    animation: bg-anime 2.5s linear alternate-reverse infinite
}

.empty-name {
    width: 111px;
    height: 20px;
    margin-bottom: 6px
}

.empty-name, .empty-price {
    background-color: #d3d3d3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: .1;
    animation: bg-anime 2.5s linear alternate-reverse infinite
}

.empty-price {
    width: 161px;
    height: 14px
}

footer {
    padding: 33px 20px 17px;
    background-color: #003791;
    -webkit-border-radius: 24px 24px 0 0;
    -moz-border-radius: 24px 24px 0 0;
    border-radius: 24px 24px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}

.footer-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.footer-menu .active {
    position: relative
}

.footer-menu .active:before {
    content: "";
    position: absolute;
    top: 130%;
    left: 35%;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #f66
}

.login {
    background-image: url(../images/png/background.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 100vh
}

@media (min-width: 768px) {
    .login {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100vh
    }
}

.wrapper {
    padding: 140px 20px 35px
}

@media (min-width: 768px) {
    .wrapper {
        padding: 80px 20px 35px
    }
}

.login-hello {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 4px
}

.login-happy, .login-hello {
    font-family: Cera Pro;
    color: #fff
}

.login-happy {
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 40px
}

.input-wrap {
    padding: 17px 20px;
    border: 1px solid hsla(0, 0%, 100%, .5);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px
}

.input-wrap:first-child {
    margin-bottom: 16px
}

.input-wrap img {
    display: inline-block;
    width: auto;
    margin-right: 15px
}

.input-wrap label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.input-wrap input {
    background-color: transparent;
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #fff
}

.input-wrap input::-webkit-input-placeholder {
    color: #fff
}

.input-wrap input::-moz-placeholder {
    color: #fff
}

.input-wrap input::-ms-input-placeholder {
    color: #fff
}

.input-wrap input::placeholder {
    color: #fff
}

.input-wrap .visible {
    margin-right: 0
}

.wrap-input {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.login-forget, .wrap-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.login-forget {
    margin-top: 10px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.login-forget a {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    -webkit-text-decoration-line: underline;
    -moz-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #fff;
    opacity: .8
}

.login-btn {
    background: hsla(0, 0%, 100%, .3);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    max-width: 300px;
    width: 100%;
    margin: 36px auto 30px;
    padding: 20px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff
}

.login-btn, .login-el {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.login-el {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 8px
}

.login-text {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    text-align: center
}

.login-line {
    opacity: .5;
    height: 1px;
    width: 18%;
    background-color: #fff
}

@media (min-width: 768px) {
    .login-line {
        width: 30%
    }
}

.login-google {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 18px auto 0;
    width: 60px;
    height: 60px;
    padding: 15px 17px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: hsla(0, 0%, 100%, .2);
    border: 1px solid #fff
}

.login-google img {
    display: inline-block;
    width: auto
}

.login-signin {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 45px
}

.login-signin div {
    font-weight: 500;
    opacity: .8
}

.login-signin a, .login-signin div {
    font-family: Cera Pro;
    font-size: 16px;
    line-height: 20px;
    color: #fff
}

.login-signin a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    margin-left: 10px
}

.login-signin a img {
    display: inline-block;
    width: auto;
    margin-left: 5px
}

.prev-page {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 35px 5px 16px
}

.prev-market, .prev-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.prev-market a {
    margin-right: 16px
}

.prev-market .market-name {
    font-size: 24px
}

.logo-market {
    margin: 0 auto 24px;
    width: 110px;
    height: 110px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    border: 1px solid rgba(0, 55, 145, .2)
}

.logo-market img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center
}

.market-title {
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #191923;
    margin-bottom: 20px
}

.market-contact {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 24px
}

.market-call, .market-contact, .market-location {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.market-call, .market-location {
    min-width: 160px;
    padding: 10px 0
}

.market-call img, .market-location img {
    display: inline-block;
    width: auto;
    margin-right: 10px
}

.market-call span, .market-location span {
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    text-transform: uppercase
}

.market-call {
    border: 1px solid #c70505;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-right: 20px;
    color: #c70505
}

.market-call, .market-location {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff
}

.market-location {
    border: 1px solid #003791;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #003791
}

.border-dashed {
    border: 1px dashed #003791;
    border-left: none;
    border-right: none;
    padding: 20px 0;
    margin-bottom: 24px
}

.market-debt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.debt-market {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #191923
}

.debt-sum {
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #c70505
}

.debt-info {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.debt-client, .debt-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.debt-client {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.debt-client img {
    display: inline-block;
    width: auto;
    margin-right: 12px
}

.debt-client span {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000
}

.info-debt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 8px
}

.info-debt img {
    margin-left: 12px
}

.info-debt span {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background: rgba(0, 55, 145, .4);
    padding: 5px
}

.debt-check, .info-debt span {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
}

.debt-check {
    padding: 10px 15px 15px;
    background: #f8f8ff;
    margin-bottom: 30px
}

.debt-date {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px
}

.debt-data, .debt-date {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.debt-data img {
    display: inline-block;
    width: auto;
    margin-right: 15px
}

.debt-data span {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px
}

.debt-data span, .debt-text {
    font-family: Cera Pro;
    color: #191923
}

.debt-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    opacity: .5
}

.debt-info-sum {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.debt-el, .debt-info-sum {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.debt-el img {
    display: inline-block;
    width: auto;
    margin-right: 15px
}

.debt-give {
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #c70505
}

.debt-info-sum2 {
    margin: 24px 0
}

.debt-info-sum2 .debt-give {
    color: #003791
}

.debt-product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.debt-product .black {
    color: #191923
}

.debt-text-black {
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #191923
}

.debt-product2 {
    margin: 24px 0
}

.debt-commet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
    position: relative
}

.debt-commet:before {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    border: 1px dashed #003791;
    opacity: .2
}

@media (min-width: 768px) {
    .debt-commet:before {
        top: 200%
    }
}

.debt-text:first-child {
    margin-right: 20px
}

.debt-text:last-child {
    opacity: .8
}

.sum-debt {
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #191923;
    margin-top: 25px
}

@media (min-width: 768px) {
    .sum-debt {
        margin-top: 40px
    }
}

.debt-pay {
    margin-bottom: 30px
}

.debt-pay, .debt-pay label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.debt-pay label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000
}

.debt-pay label:first-child {
    margin-right: 70px
}

.debt-pay input {
    width: 18px;
    height: 18px;
    margin-right: 12px
}

.debt-pay-date {
    padding: 20px;
    background-color: #f8f8ff;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px
}

.debt-pay-date, .debt-pay-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.debt-pay-inner {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 20px
}

.debt-pay-inner img {
    margin-right: 0;
    margin-left: 20px
}

.debt-real-time {
    font-family: Cera Pro;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #191923;
    margin-top: 6px
}

.debt-pay-inner2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.debt-pay-inner2 img {
    margin-right: 0;
    margin-left: 20px
}

.debt-pay-inner2 span {
    color: #003791
}

.login .market-name {
    color: #fff
}

.signup-title {
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #fff;
    margin-top: 30px
}

.signup-wrap {
    padding: 36px 20px 30px
}

.signup-form {
    padding-top: 36px
}

.signup-form .input-wrap:not(:last-child) {
    margin-bottom: 16px
}

.signup-form .login-btn {
    margin-top: 65px
}

.select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.select label~img {
    margin-right: 0
}

a {
    text-decoration: none !important;
}

.form-control {
    border: 0;
    outline: 0;
}

.form-control.focus {
    box-shadow: none !important;
}

.face_class {
    height: 200px;
}

.title-info {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: black;
    flex: 0 0 68%;
}

.body {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 72vh;
}

.scroll-body {
    overflow-y: scroll;
}

.sta-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sta-inner {
    display: flex;
    align-items: center;
}

.sta-inner img {
    display: inline-block;
    width: auto;
}

.green {
    background-color: #71df83;
}

.grey {
    background-color: #c3cdf0;
}

.red {
    background-color: #ff7e7e;
}

.orange {
    background-color: #ffb169;
}

.sta-icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;
}

.sta-icon-bg img {
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.sta-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.sta-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-b {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: Blue;
    margin-top: 3px;
}

.today-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 0;
    margin-bottom: 16px;
}

.today-last {
    align-items: center;
    display: flex;
}

.today-last span {
    color: #c70505;
}

.today-first {
    align-items: center;
    display: flex;
}

.today-first span {
    color: #003791;
}

@media (min-width: 768px) {
    .today-first {
        flex-basis: 35%;
    }
}

.today-first img, .today-last img {
    display: inline-block;
    width: auto;
    margin-right: 7px;
}

.today-first span, .today-last span {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.today-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today-N {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-right: 26px;
}

.bg-gray {
    padding: 10px 0;
    background-color: #809bc8;
}

.today-date-title {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.today-calc {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    flex: 0 0 35%;
}

.today-table-inner {
    display: flex;
    align-items: center;
}

.today-table-N {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #191923;
    opacity: 0.5;
    margin-right: 26px;
}

.today-clients {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #191923;
    margin-bottom: 2px;
}

.today-time {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #003791;
}

.table-today {
    padding: 10px 0;
}

.table-today .today-last {
    margin-bottom: 3px;
}

.odd-bg:nth-child(odd) {
    background-color: #f0f4f9;
}

.fixed-block {
    position: sticky;
    top: 0px;
    transition: all 0.3s;
    padding-top: 25px;
    background-color: #fff;
    z-index: 10;
}

body {
    counter-reset: section;
}

.today-table-N::before {
    counter-increment: section;
    content: ""counter(section) "";
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s;
    transform: scale(0);
    border-radius: 15px;
    z-index: 30;
}

.modalActive {
    transform: scale(1);
}

.modalContent {
    display: block;
    overflow-y: auto;
    padding: 16px 20px 10px 20px;
    background: #fff;
    border-radius: 15px;
}

.modalContent::-webkit-scrollbar {
    width: 5px;
}

.modalContent::-webkit-scrollbar-track {
    background: transparent;
}

.modalContent::-webkit-scrollbar-thumb {
    background: transparent;
}

.modalContent::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.modal-market {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.modal-client-info {
    display: flex;
}

.modal-client-info img {
    display: inline-block;
    width: auto;
    margin-right: 12px;
}

.modal-client-info span {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #003791;
}

.modal-market-name {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #191923;
}

.modal-client-block {
    display: flex;
    margin-bottom: 16px;
}

.modal-client-name {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #191923;
    margin-left: 8px;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 0 10px;
    border-top: 1px solid #cbcbdb;
}

.modal-footer span, .modal-footer a {
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.modal-footer a {
    color: #003791;
}

.modal-footer span {
    color: #c70505;
}

.modal-footer .m-f-line {
    width: 1px;
    padding: 0;
    height: auto;
    background-color: #cbcbdb;
}

.bodyShadow {
    background: #191923;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all 0.3s;
}